body {
  margin: 0;
  height: 100vh;
  background: url(https://cdn.magicdecor.in/com/2025/01/28160727/Sustainable.jpg) no-repeat center center fixed;
  background-size: cover; /* stretch to cover entire screen */
}
