*{
    margin: 0px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.307);
}
.flash-container {
  position: fixed;
  top: 90px; /* just below navbar */
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 500px;
  z-index: 1050;
}

.search{
    display: flex;
position: absolute;
right: 600px;
top:0px;

}

#navbar{
    border: 2px solid #ffffff00;
    height: 130px;
    width: 100vw;
    position: fixed;
    top: 0px;
    z-index: 1;
    padding: 5px;
}
#image img{
        position: fixed;
        height: 120px;
        width: 300px;
        top: 1px;
        left: 40px;
        

}
#options 
{
display: flex;
position: absolute;
left: 990px;
top:50px;




}
#options  div{
    margin-left: 90px;
  font-family: "Libertinus Serif", serif;
  font-size: 25px;
  font-weight: bolder;
  font-style: normal;

  
}
#options  div a
{
    text-decoration: none;
      color: black;
}
#options  div a:hover{
  
      color:#198754;
}

.body{
    border: 2px solid rgba(255, 255, 255, 0);
    height:100vh;
    width: 1500px;
    position: absolute;
    top: 125px;
    left: 104px;
}
/* 
body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */

.container {
  display: flex;
  gap: 110px;
  flex-wrap: wrap; /* allows cards to move to next line */
}


.card {
  background-color: #1a1a1a;
  border-radius: 12px;
  overflow: hidden;
  width: 350px;       /* increase size */
  flex: 0 0 auto;     /* prevents shrinking */
  box-shadow: 0 6px 15px rgba(0,0,0,0.6);
  transition: transform 0.3s, box-shadow 0.3s;
  margin-top: 50px;
}


.card:hover {
  transform: translateY(-5px);
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);

}

.card img {
  width: 100%;   /* must be 100% of card width */
  height: 220px; /* adjust as needed */
  object-fit: cover;
}


.card-content {
  padding: 15px;
}

.card h3 {
  margin: 0;
  font-size: 18px;
}

.price {
  color: #4ade80; /* green like in your screenshot */
  font-weight: bold;
  margin: 5px 0;
}

.desc {
  font-size: 14px;
  color: #bbb;
}
